.App {
  text-align: center;
  margin: 20px 0 0 0;
}

.task{
  margin: 5px auto;
  width: 400px;
  padding: 10px;
  background-color: #ddd;
  transition: all .5s;
  position: relative;
}

.done {
  background-color: #dfd;
  color: #555;
}

.delete{
  background-color: #d54;
  position: absolute;
  right: 0;
  top: 0;
}

.time_keeper.current{
  background-color: #fff;
}
